.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  z-index: 10000;
  padding: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);

  &__link {
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }
}