.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  color: var(--color-black);
  width: 100%;
  z-index: 10000;
  padding: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);

  &__link {
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__user {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    &__avatar {
      width: 24px;
      height: 24px;    
      &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    &__name {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      
    }
  }

  &__result {
    background-color: var(--background);
    color: var(--color-white);
  }
}