.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  z-index: 10000;
  padding: var(--space-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);

  &__link {
    position: relative;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  &__user {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    &__avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: var(--color-gray);
    }

    &__name {
      font-size: var(--font-size-md);
      font-weight: var(--font-weight-medium);
      color: var(--color-black);
    }
  }
}