@use "@/app/_breakpoints" as bp;
.succeed {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100dvh;

  padding: var(--header-height) var(--space-5);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);

    &__text {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);

      &__title {
        /* font-size: var(--font-size-2xl); */

        &__svg {
          width: 30px;
          height: 30px;
          margin-right: var(--space-4);
        }
      }
    }
  }

  &__buttons {
    display: flex;
    gap: var(--space-4);
    flex-direction: row;
    @include bp.respond-to(md) {
      flex-direction: column;
    }

    &__text {
      text-align: left;
      font-size: var(--font-size-sm);
      font-size: var(--font-size-2xl);
      font-weight: var(--font-weight-bold);
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-3);
      background-color: var(--color-black);
      color: var(--color-white);
      width: fit-content;
      margin: 0 auto;
      background-color: #25d366;
      padding: var(--space-2) var(--space-4);
      border-radius: var(--border-radius-small);
      
      &__whatsapp {
        color: var(--color-black); 

        &__share {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--space-3);
          
          color: var(--color-white);
          padding: var(--space-2) var(--space-4);
          border-radius: var(--border-radius-small);
        }
        

      }
    }
  }

  &__fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--space-4);
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;

    &__button {
      background-color: var(--color-black);
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-3);
      margin: 0 auto;
    }
  }
}