.snippet {
  &__item {
    background-color: var(--color-black);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--space-4);
    padding-left: var(--space-5);

    color: var(--color-white);
    width: 85%;
    margin: 0 auto;
    /* box-shadow: rgb(0 0 0 / 86%) 0px 8px 24px; */

    aspect-ratio: 1/1;

    &__header {
      display: flex;
      gap: var(--space-2);
      align-items: center;
      opacity: 0.6;
      margin-bottom: var(--space-4);
    }

    &__text {
      width: calc(100% - 20px);
      font-size: var(--font-size-xl);
    }
  }
}