.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
  cursor: pointer;
  line-height: 1;
  width: fit-content;
  transition: all 0.3s ease;

  &__label {
    line-height: 1;
  }


  // Arrow
  &__arrow {
    margin-left: 10px;
    overflow: hidden;
    width: 24px;
    height: 24px;
    &__img {
      path {
        fill: var(--color-white);
      }
    }
  }
  &:hover &__arrow__img {
    animation: arrowSlide 0.6s ease forwards;
  }
}

// keyframes for the arrow motion
@keyframes arrowSlide {
  0% {
    transform: translateX(0); // start centered
  }
  50% {
    transform: translateX(24px); // move down 50px
  }
  51% {
    transform: translateX(-24px); // jump up above
  }
  100% {
    transform: translateX(0); // return back to center
  }
}