.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;

  &__button {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 1px solid var(--color-gray);
    min-width: 270px;

    &__icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--space-4);
    }
  }
}
