@use "@/app/_breakpoints" as bp;
.visibility {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-6);
  max-width: var(--max-width-container-small);
  margin: 0 auto;
  padding: var(--header-height) var(--space-5);
  padding-bottom: var(--space-16);
  min-height: 100dvh;

  &__value {
    border: 1px solid var(--color-separator);
    border-radius: var(--border-radius-x-small);
    padding: var(--space-4);
    
    &__header {
      display: flex;
      align-items: center;
      gap: var(--space-4);
      margin-bottom: var(--space-4);

      &__title {
        color: var(--color-gray);
      }

      &__svg {
        margin-top: 4px;
      }
    }

    &__content {
      &__text {
        padding: var(--space-2) 0;
      }
    }
  }

  &__experience {
    &__container {
      display: flex;
      align-items: center;
      gap: var(--space-4);
      width: fit-content;
      border: 1px solid var(--color-gray);
      border-radius: var(--border-radius-small);
      padding: var(--space-4);
    }
  }

  &__privacy {
    &__header {
      color: var(--color-gray);
      margin-bottom: var(--space-6);
    }

    &__options {
      display: flex;
      gap: var(--space-4);
      flex-direction: row;
      @include bp.respond-to(md) {
        flex-direction: column;
      }

      &__option {
        position: relative;
        cursor: pointer;

        input[type="radio"] {
          position: absolute;
          opacity: 0;
          pointer-events: none;
        }

        &__content {
          display: flex;
          align-items: flex-start;
          gap: var(--space-4);
          padding: var(--space-4);
          border: 1px solid var(--color-gray-light-2);
          border-radius: var(--border-radius-small);
          transition: all 0.2s;

          &:hover {
            border-color: var(--color-separator);
          }

          &__text {
            width: calc(100% - 50px);
          }
        }

        input[type="radio"]:checked ~ &__content {
          /* background-color: rgba(57, 57, 57, 0.066); */
          border-color: var(--color-black);
        }

        &__radio {
          position: relative;
          width: 20px;
          height: 20px;
          min-width: 20px;
          border: 2px solid var(--color-gray-light-2);
          border-radius: 50%;
          transition: all 0.2s;
          margin-top: var(--space-1);

          &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: var(--color-black);
            transition: transform 0.2s;
          }
        }

        input[type="radio"]:checked ~ &__content &__radio {
          border-color: var(--color-separator);

          &::after {
            transform: translate(-50%, -50%) scale(1);
          }
        }

        &__title {
          color: var(--color-black);
          font-family: var(--font-diatype-trial-heavy);
          font-size: var(--font-size-lg);
        }

        &__description {
          color: var(--color-gray);
          margin: 0;
        }
      }
    }
  }

  &__fixed {
    /* background-color: var(--color-white); */
    position: fixed;
    bottom: var(--space-4);
    left: 0;
    right: 0;
    padding: var(--space-4);
    z-index: 1;
    /* width: 100%; */
    display: flex;
    align-items: center;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3);
    margin: 0 auto;
    background: var(--color-black);
    color: var(--color-white);
    margin: 0 auto;
  }
}