@use "@/app/_breakpoints" as bp;

:root {
  --background: #000000;
  --color-white: #F8F8F8;
  --color-black: #181818;
  --color-main: #FF00BB;
  --color-gray: #747A8C;
  --color-gray-light: #FAFAFA;
  --color-gray-light-2: #f0f0eb;
  --color-gray-dark: #90A1B9;
  --color-separator: #D7D7D7;
  --color-green:#25d366;
  --color-yellow: #FFC842;
  --color-card: #FFFFFF;

  // fonts
  --font-diatype-semi-mono: var(--font-diatype-semi-mono);
  --font-diatype-expanded: var(--font-diatype-expanded);

  // border radius
  --border-radius: 98px;
  --border-radius-small: 24px;
  --border-radius-x-small: 16px;
  --border-radius-super-small: 8px;

  // spacing scale
  --space-0: 0;
  --space-1: 0.25rem;  // 4px
  --space-2: 0.5rem;   // 8px
  --space-3: 0.75rem;  // 12px
  --space-4: 1rem;     // 16px
  --space-5: 1.5rem;   // 24px
  --space-6: 2rem;     // 32px
  --space-7: 2.5rem;   // 40px
  --space-8: 3rem;     // 48px
  --space-10: 4rem;    // 64px
  --space-12: 6rem;    // 96px
  --space-16: 8rem;    // 128px
  --space-20: 10rem;   // 160px
  --space-24: 12rem;   // 192px
  --space-28: 14rem;   // 224px
  --space-32: 16rem;   // 256px
  --space-36: 18rem;   // 288px
  --space-40: 20rem;   // 320px
  --space-44: 22rem;   // 352px
  --space-48: 24rem;   // 384px
  --space-52: 26rem;   // 416px

  // line heights
  --line-height-small: 1;
  --line-height-tight: 1.4;
  --line-height-normal: 1.5;
  --line-height-loose: 1.8;

  // font sizes
  --font-size-xs: 0.5rem;   // 8px
  --font-size-sm: 0.875rem;  // 14px
  --font-size-md: 1rem;      // 16px
  --font-size-lg: 1.25rem;   // 20px
  --font-size-xl: 1.5rem;    // 24px
  --font-size-2xl: 2rem;     // 32px
  --font-size-2-5xl: 2.5rem; // 40px
  --font-size-3xl: 3rem;     // 48px
  --font-size-4xl: 4rem;     // 64px
  --font-size-5xl: 5rem;     // 80px
  --font-size-6xl: 6rem;     // 96px

  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  // max width container
  --max-width-container: 1440px;
  --max-width-container-medium: 1280px;
  --max-width-container-small: 768px;
  --max-width-container-x-small: 480px;

  // header height
  --header-height: 70px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #F5F5F0;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100dvh;
  
}

body {
  color: var(--color-black);
  background-color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: var(--font-diatype-semi-mono), sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-diatype-trial-bold);
}

h1 {
  font-size: 26px;
  line-height: 1.2;
}

ul {
  margin-left: var(--space-6);
}

p, li {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-tight);
  letter-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-diatype-semi-mono);
  padding: var(--space-4) var(--space-5);
  background-color: var(--color-main);
  color: var(--color-white);
  width: fit-content;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;

  &:disabled, &[aria-disabled="true"] {
    background: var(--color-separator);
    color: var(--color-white);
    cursor: not-allowed;
    pointer-events: none;
  }
}

input {
  font-family: var(--font-diatype-semi-mono);
  padding: 0 var(--space-4);
  height: 44px;
  background-color: transparent;
  border: none;
  outline: none;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-small);
  width: 100%;
  &::placeholder {
    color: var(--color-gray);
  }
}

textarea {
  font-family: var(--font-diatype-semi-mono);
  padding: var(--space-4);
  background-color: transparent;
  border: 1px solid var(--color-gray);
  outline: none;
  border-radius: var(--border-radius-small);
  width: 100%;
  min-height: 130px;
  &::placeholder {
    color: var(--color-gray);
  }
}

.main {
  border-bottom-right-radius: 38px;
  background-color: var(--color-white);
  border-bottom-left-radius: 38px;

  &__content {
    max-width: var(--max-width-container);
    /* min-height: calc(100dvh - var(--header-height)); */
    margin: 0 auto;
    
    @include bp.respond-to(md) {
      max-width: var(--max-width-container-small);
    }
  }

  &--result {
    background-color: var(--background);
    color: var(--color-white);
  }
}

span.highlight {
  position: relative;
  overflow: hidden;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: var(--color-yellow);
    border-radius: var(--border-radius);
    animation: increaseWidthHighlight 0.3s ease forwards;
    animation-delay: 0.5s;
    z-index: -1;
  }
}

@keyframes increaseWidthHighlight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.swiper-pagination-bullet-active {
  background: var(--color-main) !important;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -20px !important;
}