@use "@/app/_breakpoints" as bp;

.home {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  
  padding-bottom: var(--space-10);
  @include bp.respond-to(md) {
    gap: var(--space-6);
    padding-top: var(--header-height);
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-10);

    &__hero {
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: var(--space-16);
      height: 100dvh;
      padding: 0px var(--space-5);
      padding-top: 0;
      align-items: center;
      
      @include bp.respond-to(md) {
        height: auto;
        gap: var(--space-6);
        justify-content: flex-start;
        flex-direction: column;
        align-items: normal;
      }

      &__content {
        opacity: 0;
        animation: fadeInSection 1s ease forwards;
        animation-delay: 0.5s;

        width: 60%;
        
        @include bp.respond-to(md) {
          width: 100%;
        } 


        &__title {
          font-size: var(--font-size-5xl);
          font-family: var(--font-diatype-trial-heavy);
          line-height: var(--line-height-small);
          /* max-width: 400px; */
          margin-bottom: var(--space-4);
          
          @include bp.respond-to(md) {
            font-size: var(--font-size-2-5xl);
          }

          &__span {
            position: relative;
            overflow: hidden;
            &::before {
              content: '';
              position: absolute;
              top: 0;
              height: 100%;
              background-color: var(--color-yellow);
              border-radius: var(--border-radius);
              animation: increaseWidth 0.3s ease forwards;
              animation-delay: 1s;
              z-index: -1;
            }
          }
        }

        &__button {
          background-color: var(--color-black);
          width: fit-content;
          z-index: 1;
      
          display: flex;
          align-items: center;
          /* justify-content: center; */
          gap: var(--space-4);
      
          padding: var(--space-3) var(--space-8);

          margin-top: var(--space-8);

          animation: fadeInSection 1s ease forwards;
          animation-delay: 3s;
          opacity: 0;
      
          p {
            font-size: var(--font-size-md);
          }

          @include bp.respond-to(md) {
            display: none;
          }
      
        }

        &__steps {
          display: flex;
          @include bp.respond-to(md) {
            display: none;
          }
        }
      }

      &__image {
        opacity: 0;
        animation: fadeInSection 1s ease forwards;
        animation-delay: 1s;
        object-fit: cover;
        width: 50%;
        max-width: 423px;
        height: auto;
        @include bp.respond-to(md) {
          width: 100%;
        }
      }

      &__animation {
        width: 40%;
        @include bp.respond-to(md) {
          width: 100%;
        } 
      }

      
    }

    &__steps {
      margin: 0 auto;
      flex-direction: column;
      gap: var(--space-4);
      max-width: var(--max-width-container-x-small);
      padding: 0 var(--space-5);
      display: none;
      @include bp.respond-to(md) {
        display: flex;
      }
    }

    &__checks {
      min-height: 50dvh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: var(--space-4);

      padding: 0 var(--space-5);

      @include bp.respond-to(md) {
        min-height: auto;
        max-width: var(--max-width-container-small);
      }
    }

    &__our_stories {
      padding: 0 var(--space-5);
    }

    &__faqs {
      margin: 0 auto;
      padding: 0 var(--space-5);
      max-width: var(--max-width-container-small);
    }
  }

  &__button {
    position: fixed;
    background-color: var(--color-black);
    bottom: var(--space-5);
    right: var(--space-5);
    
    width: fit-content;
    z-index: 1;
    align-items: center;
    justify-content: center;
    gap: var(--space-4);
    
    opacity: 0;
    animation: scaleIn 1s ease forwards 2.5s;

    transform-origin: center center;
    

    display: none;

    
    p {
      font-size: var(--font-size-md);
      display: none;
      @include bp.respond-to(md) {
        display: block;
      }
    }
    
    @include bp.respond-to(md) {
      display: flex;
      min-width: 270px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }

  }
}


.check {
  
  &__items {
    display: flex;
    align-items: center;
    gap: var(--space-4);
    
    opacity: 0;
    &:nth-child(1) {
      animation: fadeInSection 1s ease forwards 1.5s;
    }
    &:nth-child(2) {
      animation: fadeInSection 1s ease forwards 2s;
    }
    &:nth-child(3) {
      animation: fadeInSection 1s ease forwards 2.5s;
    }
  }

}

// animations
@keyframes fadeInSection {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes increaseWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes scaleIn {
  from {
    transform: translateX(-50%) scale(0);
    opacity: 0;
  }
  to {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}