.register {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--header-height) var(--space-5);

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(58, 58, 58, 0.1);
    z-index: 10000;
  }

  &__content {
    width: 100%;
    height: 100%;

    &__header {
      padding: var(--space-4) 0;
      border-top: 1px solid var(--color-separator);
      border-bottom: 1px solid var(--color-separator);
      color: var(--color-gray);
      margin-bottom: var(--space-6);
    }
    
    &__title {
      display: flex;
      gap: var(--space-2);
      align-items: center;
      justify-content: center;
      margin-bottom: var(--space-4);
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);
      margin-bottom: var(--space-5);
  
    }

  
  }
  
  &__register {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 400px;
    background-color: var(--color-white);
    padding: var(--space-7) var(--space-4);
    border-radius: var(--border-radius-small);

    z-index: 10000;

    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    

    &__title {
      font-size: var(--font-size-xl);
      font-weight: var(--font-weight-bold);
      text-align: center;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
    }
  }

}