.register {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--header-height) var(--space-5);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-bottom: var(--space-5);

    &__title {
      width: 80%;
      margin: 0 auto;
      display: flex;
      gap: var(--space-2);
      align-items: center;
      justify-content: center;
    }

    &__item {
      background-color: var(--color-black);
      border: none;
      border-radius: var(--border-radius-small);
      padding: var(--space-4);
      padding-left: var(--space-5);

      color: var(--color-white);
      width: 80%;
      margin: 0 auto;
      box-shadow: rgb(0 0 0 / 86%) 0px 8px 24px;

      &__header {
        display: flex;
        gap: var(--space-4);
        flex-direction: column;
        
        &__icon {
          display: flex;
          gap: var(--space-2);
          align-items: center;
          opacity: 0.6;
          p {
            line-height: 1;
          }
        }
      }

      &__title {
        font-style: italic;
      }

      &__text {
        width: calc(100% - 20px);
      }
    }
  }
  
  &__register {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      &__login {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        &__form {
          display: flex;
          flex-direction: column;
          gap: var(--space-2);

          input {
            width: 100%;
          }

          &__button {
            background-color: var(--color-black);
            width: 100%;
          }

          &__text {
            text-align: center;
            font-size: var(--font-size-sm);
            color: var(--color-gray);

            span {
              color: var(--color-black);
            }
          }
        }
      }
    }
  }

}