.register {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--header-height) var(--space-5);

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-bottom: var(--space-5);

    &__item {
      background-color: var(--color-yellow);
      border: none;
      border-radius: var(--border-radius-small);
      padding: var(--space-4);
      padding-left: var(--space-5);

      &__header {
        display: flex;
        gap: var(--space-4);
        /* margin-bottom: var(--space-4); */
      }

      &__title {
        font-style: italic;
      }

      &__text {
        width: calc(100% - 20px);
      }
    }
  }
  
  &__register {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);

      &__login {
        display: flex;
        flex-direction: column;
        gap: var(--space-2);

        &__form {
          display: flex;
          flex-direction: column;
          gap: var(--space-2);

          input {
            width: 100%;
          }

          &__button {
            background-color: var(--color-black);
            width: 100%;
          }

          &__text {
            text-align: center;
            font-size: var(--font-size-sm);
            color: var(--color-gray);

            span {
              color: var(--color-black);
            }
          }
        }
      }
    }
  }

}