.register {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--header-height) var(--space-5);

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(58, 58, 58, 0.1);
    z-index: 10000;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    width: 100%;
    height: 100%;
    
    &__title {
      width: 80%;
      margin: 0 auto;
      display: flex;
      gap: var(--space-2);
      align-items: center;
      justify-content: center;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);
      margin-bottom: var(--space-5);
  
    }

  
  }
  
  &__register {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    background-color: var(--color-white);
    padding: var(--space-4);
    border-radius: var(--border-radius-small);

    z-index: 10000;

    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: var(--space-2);
    }
  }

}