.cardstory {
  background-color: var(--color-card);
  border-radius: var(--border-radius-x-small);
  padding: var(--space-4);

  
  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    margin-bottom: var(--space-12);
    
    &__header {
      display: flex;
      flex-direction: row;
      gap: var(--space-4);
      align-items: center;
      justify-content: space-between;
  
      &__user {
        display: flex;
        flex-direction: row;
        gap: var(--space-4);
        align-items: center;
        justify-content: space-between;

        &__name {
          font-size: var(--font-size-md);
          font-weight: var(--font-weight-medium);
        }

        &__picture {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
  
    }

    &__body {
      display: flex;
      flex-direction: column;
      gap: var(--space-4);

      &__title {
        font-size: var(--font-size-2-5xl);
        line-height: 1;
        font-family: var(--font-diatype-trial-bold);
      }
    }
  }
  
  &__footer {
    display: flex;
    flex-direction: row;
    gap: var(--space-4);
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
  
}