.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;

  &__button {
    width: 100%;
    display: flex;
    gap: var(--space-4);
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-white);
    border: 1px solid var(--color-gray);
    color: var(--color-black);
    min-width: 270px;
  }
}
