:root {
  --loader-size: 60px;
}

.loaderGenerate {
  height: calc(100dvh - var(--header-height) - 50px);
  margin-top: var(--space-10);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-4);

  &__loader {
    width: var(--loader-size);
    height: var(--loader-size);
    display: inline-block;
    position: relative;

    &::after, &::before {
      content: '';  
      box-sizing: border-box;
      width: var(--loader-size);
      height: var(--loader-size);
      border-radius: 50%;
      border: 2px solid var(--color-main);
      position: absolute;
      left: 0;
      top: 0;
      animation: animloader 2s linear infinite;
    }

    &::after {
      animation-delay: 1s;
    }
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}