.result {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--header-height) var(--space-5);
  padding-bottom: var(--space-16);

  &__header {
    padding: var(--space-4) 0;
    border-top: 1px solid var(--color-separator);
    border-bottom: 1px solid var(--color-separator);
    color: var(--color-gray);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }

  &__loading {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
    height: 100%;
    min-height: 100vh;
  } 

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
  }

  &__reflection {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
    border: 1px solid var(--color-separator);
    padding: var(--space-6) var(--space-4);
    border-radius: var(--border-radius-small);

    &__title {
      color: var(--color-gray);
      display: flex;
      align-items: center;
      gap: var(--space-2);
    }

    &__content {
      font-style: italic;
    }
  }

  &__complete {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: var(--space-4);
    z-index: 1;

    &__button {
      background: var(--color-black);
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-3);
      margin: 0 auto;
    }

  }
}