.result {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--header-height) var(--space-5);
  padding-bottom: var(--space-16);

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }

  &__loading {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
    height: 100%;
    min-height: 100vh;
  } 

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
}