.result {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: var(--header-height) 0;
  padding-bottom: 100dvh;

  &__container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }

  &__story {
    position: relative;
    z-index: 1;
    min-height: 100dvh;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: var(--space-2) var(--space-5);
    border-radius: var(--border-radius-small);

    &__loading {
      color: var(--color-black);
    }

    &__user {
      display: flex;
      align-items: center;
      gap: var(--space-4);
      margin-bottom: var(--space-4);

      &__avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      &__name {
        display: flex;
        align-items: center;
        gap: var(--space-2);
        font-weight: var(--font-weight-bold);
        
        span {
          font-weight: var(--font-weight-regular);
          color: var(--color-gray);
        }
      }

    }

    &__header {
      padding: var(--space-4) 0;
      color: var(--color-gray);
    }

    &__title {
      margin-bottom: var(--space-2);
    }

    &__experience {
      margin-bottom: var(--space-6);
      color: var(--color-gray);
      p {
        padding: var(--space-2) 0;
      }
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: auto;
    margin-top: var(--space-4);
  } 

  &__content {
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }

  &__reflection {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    width: 100%;
    padding: var(--space-6) var(--space-6);
    border-radius: var(--border-radius-small);

    position: fixed;
    top: 0;
    min-height: 100dvh;
    overflow: scroll;
    height: 100%;

    padding-top: var(--header-height);
    padding-bottom: var(--space-16);

    &__title {
      color: var(--color-gray);
      display: flex;
      align-items: center;
      gap: var(--space-2);
    }

    &__content {
      font-size: var(--font-size-lg);
    }
  }

  &__complete {
    position: fixed;
    bottom: var(--space-4);
    left: 50%;
    transform: translateX(-50%);
    padding: var(--space-4);
    z-index: 1;
    width: 100%;

    &__button {
      background: var(--color-black);
      color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--space-3);
      margin-top: var(--space-4);
      margin: 0 auto;
    }

  }
}