.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: var(--space-6);

  min-height: 100dvh;

  padding-top: 30px;

  

  &__title {
    background-color: var(--color-white);
    font-size: var(--font-size-2xl);
    color: var(--color-black);
    position: absolute;
    top: 50px;
    z-index: 10000;
    width: 100%;

    padding-left: var(--space-5);
    padding-bottom: var(--space-2);
    
    &__span {
      position: relative;
      overflow: hidden;
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        background-color: var(--color-yellow);
        border-radius: var(--border-radius);
        animation: increaseWidth 0.3s ease forwards;
        animation-delay: 0.5s;
        z-index: -1;
      }
    }
  }

  &__content {
    padding: 0 var(--space-5);
    padding-bottom: var(--space-16);
    padding-top: calc(var(--header-height) + 50px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: var(--space-6);
  }

  &__experience {

    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--space-4);
    padding-left: var(--space-5);

    color: var(--color-black);
    width: 100%;
    margin: 0 auto;
    box-shadow: rgb(0 0 0 / 86%) 0px 8px 24px;

    &__header {
      display: flex;
      align-items: flex-start;
      gap: var(--space-4);
      margin-bottom: var(--space-4);

      &__title {
        width: calc(100% - 20px);
        line-height: 1;
        font-style: italic;
      }

      &__svg {
        margin-top: 5px;
      }
    }

    &__content {
      margin-bottom: var(--space-4);
    }

    &__more {
      background: none;
      border: none;
      cursor: pointer;
      font-weight: 500;
      color: var(--color-main);
    }

    &__pills {
      &__title {
        margin-bottom: var(--space-4);
      }
    }
  }

  &__reflection {

    background-color: var(--color-white);
    border: none;
    border-radius: var(--border-radius-small);
    padding: var(--space-4);
    padding-left: var(--space-5);

    color: var(--color-black);
    width: 100%;
    margin: 0 auto;
    box-shadow: rgb(0 0 0 / 86%) 0px 8px 24px;

    &__header {
      display: flex;
      gap: var(--space-4);
      margin-bottom: var(--space-4);

      &__title {
        width: calc(100% - 24px);
      }

      &__svg {
        margin-top: 4px;
      }
    }
  }

  

  &__fixed {
    background-color: var(--color-white);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--space-4);
    z-index: 1;
    width: 100%;
  }

  &__button {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3);
    margin: 0 auto;
  }

}

@keyframes increaseWidth {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}