.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: var(--space-6);

  padding: var(--header-height) var(--space-5);
  padding-bottom: var(--space-10);

  &__title {
    text-transform: uppercase;
  }

  &__experience {
    &__header {
      display: flex;
      gap: var(--space-4);
      margin-bottom: var(--space-4);

      &__title {
        width: calc(100% - 20px);
      }
    }
    &__content {
      margin-bottom: var(--space-4);
    }
    &__more {
      background: none;
      border: none;
      cursor: pointer;
      font-weight: 500;
      text-decoration: underline;
      color: var(--color-main);
    }
  }

  &__reflection {
    &__header {
      display: flex;
      gap: var(--space-4);
      margin-bottom: var(--space-4);

      &__title {
        width: calc(100% - 24px);
      }
    }
  }

  &__button {
    background: var(--color-black);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-3);
  }

}
