name: Build and Push to ECR

on:
  push:
    branches:
      - main
    tags:
      - develop
      - 'v*.*.*'

env:
  AWS_REGION: eu-west-1
  ECR_REPOSITORY: frontend
  AWS_ECR_ROLE: ${{ vars.AWS_ECR_ROLE }}

jobs:
  determine-environments:
    runs-on: ubuntu-latest
    outputs:
      environments: ${{ steps.set-environments.outputs.environments }}
    steps:
      - name: Determine environments
        id: set-environments
        run: |
          if [[ "${{ github.ref }}" == "refs/tags/develop" ]]; then
            ENVIRONMENTS='["playground"]'
          elif [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            ENVIRONMENTS='["playground"]'
          elif [[ "${{ github.ref }}" =~ refs/tags/v[0-9]+\.[0-9]+\.[0-9]+ ]]; then
            ENVIRONMENTS='["playground", "production"]'
          else
            echo "Unknown ref: ${{ github.ref }}"
            exit 1
          fi

          echo "environments=$ENVIRONMENTS" >> $GITHUB_OUTPUT
          echo "Deploying to environments: $ENVIRONMENTS"

  build-and-push:
    needs: determine-environments
    runs-on: ubuntu-latest
    strategy:
      matrix:
        environment: ${{ fromJson(needs.determine-environments.outputs.environments) }}
    
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create environment file
        run: |
          if [[ "${{ matrix.environment }}" == "production" ]]; then
            NEXT_PUBLIC_API_BASE_URL="https://api.wannna.ai"
          else
            NEXT_PUBLIC_API_BASE_URL="https://api.${{ matrix.environment }}.wannna.ai"
          fi
          
          echo "NEXT_PUBLIC_API_BASE_URL=$NEXT_PUBLIC_API_BASE_URL" > .env
          echo "Created .env with the following content:"
          cat .env

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.AWS_ECR_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Build, tag, and push image to Amazon ECR
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}-${{ matrix.environment }}
        run: |
          docker build -t $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .

          docker tag $REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG $REGISTRY/$ECR_REPOSITORY:latest-${{ matrix.environment }}
          
          docker push --all-tags $REGISTRY/$ECR_REPOSITORY
      
      - name: Trigger deployment in frontend-infra
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.TRIGGER_REPOSITORY_DISPATCH }}
          repository: ${{ github.repository_owner }}/frontend-infra
          event-type: deploy
          client-payload: '{"image_sha": "${{ github.sha }}-${{ matrix.environment }}", "repository": "${{ github.repository }}", "environment": "${{ matrix.environment }}"}'
